<div class="card my-4">
    <h5 class="card-header">Categorias</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                    {% for category in categories %}
                        <li>
                            <a style="text-decoration: none;"
                                href="{% url 'blog:category-detail' category.name %}">{{ category.name }}</a>
                        </li>
                    {% empty %}
                        <li>
                            <a style="text-decoration: none;"
                                href="javascript:void(0)">Sin categorias</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>